{% load static %}
<!DOCTYPE html>
<html lang="es" ng-app="SLUD">
<head>
  <meta name="google-site-verification" content="d0lBlz35EvM2K47bDytCOjmfhvnK3PJsFnNKSz_2a9s" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Te invitamos al evento anual de la Semana Linux de la Universidad Distrital, donde se da a conocer el Software Libre y sus ventajas para el progreso tecnológico de la sociedad. Este evento se llevara a cabo del 27 de agosto al 1 de septiembre del 2018 en la facultad de Ingenieria.">
  <meta name="keywords" content="Linux,GNU,Universidad Distrital,OpenSource,SLUD,Semana,Octubre,Charlas,Talleres,Hackathon">
  <meta http-equiv="revisit-after" content="1 days">
  <title>Semana Linux - XV SLUD - Univeridad Distrial FJC</title>

  <!--TODO: usar webpack para los CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="./node_modules/aos/dist/aos.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">

  <link rel="shortcut icon" type="image/png" href="{% static 'img/Logo_GLUD_site.png' %}" />
  <link rel="image_src" href="{% static 'img/PosterSLUD.png' %}" />
</head>
<body>
  <!-- Menú de naveción -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" ng-controller="Menu as menu">
    <!-- El div hace que el contenido del navbar no ocupe toda la pantalla en resoluciones grandes -->
    <div class="container">
      <!-- Logo del GLUD -->
      <div class="logo">
        <a  href="http://glud.org">
          <img data-aos="fade-right" width="80" height="40" src="{% static 'img/logo_glud.svg' %}"/>
        </a>
        <span>SLUD 2018</span>
      </div>

      <!-- Botón para cuando colapsa el menú -->
      <button class="navbar-toggler bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Lista de elementos -->
      <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- Elementos, cargados dinámicamente con Angular -->
          <li class="nav-item" ng-repeat="item in menu.lista">
              <a class="nav-link" href={{item.url}}>{{item.text}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Seccion con el logo de la Semana -->
  <section class="info">
    <div class="container">
      <div class="container-logo" data-aos="zoom-in-down">

        <img class="logo_slud" width="auto" src="{% static 'img/logo_slud_xv_2.png' %}" />
        <!-- <div class="">

          <h1>Semana Linux Universidad Distrital 2018</h1>
          <p>La Semana Linux es un evento anual de visibilidad nacional, organizado por el Grupo GNU/Linux de la Universidad Distrital, donde se da a conocer el Software Libre y sus ventajas para el progreso tecnológico de la sociedad, allí convergen estudiantes, profesores, expertos en software libre y usuarios finales, interesados en familiarizarse con el uso de software libre y su filosofía.</p>
        </div> -->

      </div>
    </div>

  </section>

  <!-- Sección de Expositores -->
  <section id="expositores" class="expositores" ng-controller="Expositores as expositores">
    <!-- Título de la Sección -->
    <h2 class="subtitle" data-aos="fade-down">Expositores</h2>
    <!-- Fila de elementos -->
    <div class="expositores__lista container">
      <div class="row">
        <!-- Con este article se renderiza la información de un expositor -->
        <article class="lista__persona col-12 col-sm-6 col-md-4 col-xl-3" data-aos="fade-right" ng-repeat="e in expositores.lista">
          <!-- Foto del expositor -->
          <img width="200" height="200" src={{e.foto}} />
          <!-- Información básica del expositor -->
          <div>
            <span>{{e.nombre}}</span>
            <span>{{e.trabajo}}</span>
          </div>
        </article>
      </div>
    </div>
  </section>

  <!-- Sección con la agenda de la semana -->
  <section id="agenda" class="agenda" ng-controller="Agenda as agenda">
    <!-- Tabla responsive para que no se rompa en pantallas muy pequeñas -->
    <div class="container table-responsive">
      <h2 class="subtitle" data-aos="fade-right">Agenda de charlas y talleres</h2>
      <table class="table" ng-repeat="dia in agenda.dias">
        <thead>
          <!-- Este header indica el día de la semana -->
          <tr class="dia">
            <th class="span" colspan="4">{{dia.header}}</th>
          </tr>
          <!-- Información básica de la charla -->
          <tr>
            <th class="fecha">Hora</th>
            <th>Charla</th>
            <th>Expositor</th>
            <th>Lugar</th>
          </tr>
        </thead>
        <!-- Charlas -->
        <tbody>
          <tr ng-repeat="charla in dia.charlas">
          <td class="fecha">{{charla.hora}}</td>
            <td>{{charla.nombre}}</td>
            <td>{{charla.expositor}}</td>
            <td>{{charla.lugar}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <!-- Seccion en donde aparece la información de la ubicación de la universidad -->
  <section id="ubicacion" class="ubicacion">
    <div class="container">
      <h2 class="subtitle" data-aos="fade-right">Ubicación</h2>
      <div class="row">
        <iframe class="frame col-12 col-sm-7" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3976.8101263330436!2d-74.06762644944611!3d4.627939143555758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9a286d598bd5%3A0xddf14904a87dfb47!2sUniversidad+Distrital+Francisco+Jose+de+Caldas!5e0!3m2!1ses!2sco!4v1474493415529" width="600" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        <div class="direccion col-12 col-sm-5 pull-right">
          <img src="{% static 'img/EscudoUD.png' %}" align="top" alt="Universidad Distrital" width=200>
          <span class="universidad">Universidad Distrital</span>
          <span class="facultad">Facultad de Ingeniería</span>
          <span class="locacion">Dirección: Cra. 8 # 40 - 62</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Seccion de patrocinadores -->
  <section id="patrocinadores" class="patrocinadores container-fluid" ng-controller="Sponsors as sponsors">
    <div class="container">
      <h2 class="subtitle" data-aos="fade-right">Patrocinadores</h2>
      <div class="logos">
        <img src="{% static '/img/UDIng.jpg' %}" alt="UDIng" width="180" height="75"/>
        <img ng-repeat="s in sponsors.lista" src="{{s.logo}}" alt="{{e.nombre}}" width="180" height="75"/>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer>
    Grupo de trabajo GNU/Linux Universidad Distrital
    <a href="https://www.facebook.com/GrupoLinuxUD" class="icon-facebook"></a>
    <a href="https://twitter.com/GrupoLinuxUD" class="icon-twitter"></a>
  </footer>
  <script src="bundle.js"></script>
</body>
</html>
